<div class="signup-container">
  <h2>Create Account</h2>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <!-- NAME + EMAIL -->
    <div class="row">
      <div class="field">
        <label>Name</label>
        <input formControlName="name">

        <small class="error"
          *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
          Name is required
        </small>
      </div>

      <div class="field">
        <label>Email</label>
        <input formControlName="email">

        <small class="error"
          *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          <span *ngIf="signupForm.get('email')?.errors?.['required']">
            Email is required
          </span>
          <span *ngIf="signupForm.get('email')?.errors?.['email']
            || signupForm.get('email')?.errors?.['pattern']">
            Enter a valid email
          </span>
        </small>
      </div>
    </div>

    <!-- MOBILE + ORG -->
    <div class="row">
      <div class="field">
        <label>Mobile Number</label>
        <input formControlName="mobile">

        <small class="error"
          *ngIf="signupForm.get('mobile')?.invalid && signupForm.get('mobile')?.touched">
          Enter valid 10-digit mobile number
        </small>
      </div>

      <div class="field">
        <label>Organization</label>
        <input formControlName="organization">
      </div>
    </div>

    <!-- PASSWORDS -->
    <div class="row">
      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password">

        <small class="error"
          *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          <span *ngIf="signupForm.get('password')?.errors?.['required']">
            Password is required
          </span>
          <span *ngIf="signupForm.get('password')?.errors?.['minlength']">
            Minimum 6 characters
          </span>
        </small>
      </div>

      <div class="field">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword">

        <small class="error"
          *ngIf="signupForm.errors?.['mismatch'] && signupForm.get('confirmPassword')?.touched">
          Passwords do not match
        </small>
      </div>
    </div>

    <!-- BACKEND ERROR -->
    <small class="error" *ngIf="errorMessage">{{ errorMessage }}</small>
    <small class="success" *ngIf="successMessage">{{ successMessage }}</small>

    <button type="submit" [disabled]="signupForm.invalid">
      Sign Up
    </button>

    <p class="login-link">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </form>
</div>
