<div class="container">
  <h2>Vehicle Master</h2>

  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit1()">

    <!-- ROW 1 -->
    <div class="row">
      <div class="field">
        <label>Vehicle Number</label>
        <input formControlName="vehicleNumber" placeholder="MH12AB1234">
      </div>

      <div class="field">
        <label>Vehicle Type</label>
        <input formControlName="vehicleType" placeholder="Truck / Car">
      </div>
    </div>

    <!-- ROW 2 -->
    <div class="row">
      <div class="field">
        <label>Chassis Number</label>
        <input formControlName="chassisNumber">
      </div>

      <div class="field">
        <label>Engine Number</label>
        <input formControlName="engineNumber">
      </div>
    </div>

    <!-- ROW 3 -->
    <div class="row">
      <div class="field">
        <label>Manufacturing Year</label>
        <input type="number" formControlName="manufacturingYear">
      </div>

      <div class="field">
        <label>Load Capacity (KG)</label>
        <input type="number" formControlName="loadCarryingCapacity">
      </div>
    </div>

    <!-- ROW 4 -->
    <div class="row">
      <div class="field">
        <label>make Of Vehicle</label>
        <input formControlName="makeOfVehicle">
      </div>

      <div class="field">
        <label>model Number</label>
        <input formControlName="modelNumber">
      </div>
    </div>

    <!-- ROW 5 -->
    <div class="row">
      <div class="field">
        <label>Body Type</label>
        <input formControlName="bodyType">
      </div>

      <div class="field">
        <label>Organisation Name</label>
        <input formControlName="organisationName">
      </div>
    </div>

    <!-- FULL WIDTH -->
    <div class="field">
      <label>Device ID</label>
      <input formControlName="deviceID">
    </div>

    <button type="submit" [disabled]="vehicleForm.invalid">
      Save Vehicle
    </button>

  </form>

<div *ngIf="successMessage"
     class="alert alert-success fixed-top text-center start-50 translate-middle-x"
     role="alert">
 {{ successMessage }}
</div>

</div>
